<div ng:include src="'/templates/navbar.html'"></div>
<div class="row">
    <section id="articlesAngular" >
        <div class="page-header" ng-controller="articleBlogCtrl">
            <h1>Articles and Blogs</h1>
            <ul>
                <li ng-repeat="link in links">
                    <div>
                        {{link.info}}
                    </div>
                    <a href={{link.name}} target="_blank">{{link.name}}</a>

                </li>
            </ul>
        </div>

    </section>
</div>