<div ng:include src="'/templates/navbar.html'"></div>
<div class="row">
    <section id="examplesAngular">
        <div class="page-header" ng-controller="fiddleCtrl">
            <h1>Examples and Fiddles</h1>
            <ul>
                <li ng-repeat="example in examples">
                    <div>
                        {{example.info}}
                    </div>
                    <a href={{link.name}} target="_blank">{{example.name}}</a>

                </li>
            </ul>
        </div>
    </section>
</div>