<div ng:include src="'/templates/navbar.html'"></div>
<div class="row">
    <section id="learnAngular">
        <div class="page-header">
            <div class="row">
                <div class="span6">
                    <h1>Learn AngularJs</h1>
                </div>
                <div>
                    <input placeholder="Search..." ng-model="searchlearn" class="search">
                </div>
            </div>
            <ul>
                <li ng-repeat="link in learn | filter:searchlearn">
                    <div>
                        {{link.info}}
                    </div>
                    <a href={{link.name}} target="_blank">{{link.name}}</a>

                </li>
            </ul>
        </div>
    </section>
</div>
