<div class="row">
    <input placeholder="Search..." ng-model="search" class="pull-right">
</div>

<div class="row">
    <div class="span3 bs-docs-sidebar">
        <div class="scroller_anchor" style="height: 0px;"></div>
        <div class="scroller" style="position: relative; top: 50px;">
            <ul class="nav nav-list bs-docs-sidenav">
                <li>
                    <a onclick="scrollTo('learnAngular')" > Learn AngularJs</a>
                </li>
                <li>
                    <a onclick="scrollTo('modulesAngular')"> Modules</a>
                </li>
                <li>
                    <a onclick="scrollTo('articlesAngular')"> Articles and Blogs</a>
                </li>
                <li>
                    <a onclick="scrollTo('examplesAngular')"> Examples and Fiddles</a>
                </li>
                <li>
                    <a onclick="scrollTo('stackoverflowAngular')"> Top Stackoverflow Questions</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span9">

        <!-- learn AngularJs
        ================================================== -->
        <section id="learnAngular">
            <div class="page-header" ng-controller="linkCtrl">
                <h1>Learn AngularJs</h1>
                <ul>
                    <li ng-repeat="link in learn.slice(0,10) | filter:search">
                        <div>
                            {{link.info}}
                        </div>
                        <a href={{link.name}} target="_blank">{{link.name}}</a>

                    </li>
                </ul>
                <a href="/learnangularjs" class="pull-right">More...</a>
            </div>
        </section>

        <!-- Modules
        ================================================== -->
        <section id="modulesAngular">
            <div class="page-header" ng-controller="modulesCtrl">
                <h1>Angular Modules</h1>
                <ul>
                    <li ng-repeat="data in modulesData.slice(0,10)| filter:search">
                        <div>
                            {{data.description}}
                            <span>Forks : {{data.forks}}</span>
                        </div>
                        <div>
                            <a href={{data.url}} target="_blank">{{data.url}}</a>
                            <span>Followers : {{data.followers}}</span>
                        </div>
                    </li>
                </ul>
                <a href="/modulesangularjs" class="pull-right">More...</a>
            </div>
        </section>

        <!-- Articles and Blogs
        ================================================== -->
        <section id="articlesAngular" >
            <div class="page-header" ng-controller="articleBlogCtrl">
                <h1>Articles and Blogs</h1>
                <ul>
                    <li ng-repeat="article in articles.slice(0,10)| filter:search">
                        <div>
                            {{article.info}}
                        </div>
                        <a href={{article.name}} target="_blank">{{article.name}}</a>

                    </li>
                </ul>
                <a href="/articlesangularjs" class="pull-right">More...</a>
            </div>

        </section>

        <!-- Examples and Fiddles
        ================================================== -->
        <section id="examplesAngular">
            <div class="page-header" ng-controller="fiddleCtrl">
                <h1>Examples and Fiddles</h1>
                <ul>
                    <li ng-repeat="example in examples.slice(0,10) | filter:search">
                        <div>
                            {{example.info}}
                        </div>
                        <a href={{link.name}} target="_blank">{{example.name}}</a>

                    </li>
                </ul>
                <a href="/examplesangularjs" class="pull-right">More...</a>
            </div>
        </section>

        <!-- Buttons
        ================================================== -->
        <section id="stackoverflowAngular">
            <div class="page-header" ng-controller="stackoverflowCtrl">
                <h1>Top Stackoverflow Questions</h1>
                <ul>
                    <li ng-repeat="data in stackoverflowData.slice(0,10) | filter:search">
                        <div>
                            {{data.title}}
                            <span>Up Votes: {{data.up_vote_count}}</span>
                        </div>
                        <div>
                            <a href="http://www.stackoverflow.com/{{data.question_answers_url}}" target="_blank">www.stackoverflow.com/{{data.question_answers_url}}</a>
                            <span>Favourite Count : {{data.favorite_count}}</span>
                        </div>
                    </li>
                </ul>
                <a href="/stackoverflowangularjs" class="pull-right">More...</a>
            </div>
        </section>
    </div>
</div>