<div ng:include src="'/templates/navbar.html'"></div>
<div class="row">
    <section id="modulesAngular">
        <div class="page-header" ng-controller="modulesCtrl">
            <h1>Angular Modules</h1>
            <ul>
                <li ng-repeat="data in modulesData">
                    <div>
                        {{data.description}}
                    </div>
                    <a href={{data.url}} target="_blank">{{data.url}}</a>

                </li>
            </ul>
        </div>
    </section>
</div>
