<div ng:include src="'/templates/navbar.html'"></div>
<div class="row">
    <section id="stackoverflowAngular">
        <div class="page-header" ng-controller="stackoverflowCtrl">
            <h1>Top Stackoverflow Questions</h1>
            <ul>
                <li ng-repeat="data in stackoverflowData">
                    <div>
                        {{data.title}}
                    </div>
                    <a href="http://www.stackoverflow.com/{{data.question_answers_url}}" target="_blank">www.stackoverflow.com/{{data.question_answers_url}}</a>

                </li>
            </ul>
        </div>
    </section>
</div>